body {
  /* For better cross-browser support */
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
}

.card {
  width: 18rem; /* Adjust the width as needed */
  height: 26rem; /* Adjust the height as needed */
}

.card-img-top {
  height: 15rem; /* Adjust the image height as needed */
  object-fit: cover; /* This will ensure the image fills the container while maintaining aspect ratio */
}